<%- include('partials/header'); %>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Complaint
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><a class="dropdown-item" href="https://2kojfjgxx9x.typeform.com/to/ahZfGwRp">Wifi</a></li>
    <li><a class="dropdown-item" href="https://2kojfjgxx9x.typeform.com/to/ahZfGwRp">Plumber</a></li>
    <li><a class="dropdown-item" href="https://2kojfjgxx9x.typeform.com/to/ahZfGwRp">Carpenter</a></li>
    <li><a class="dropdown-item" href="https://2kojfjgxx9x.typeform.com/to/ahZfGwRp">Helpers</a></li>
    <li><a class="dropdown-item" href="https://2kojfjgxx9x.typeform.com/to/ahZfGwRp">Electrician</a></li>
    <li><a class="dropdown-item" href="https://2kojfjgxx9x.typeform.com/to/ahZfGwRp">Other Queries</a></li>
  </ul>
</li>

<li class="nav-item">
  <a class="nav-link" aria-current="page" href="/login">Admin</a>
</li>
</ul>

</div>
</div>
</nav>
  <div class="section-main">
    <h1>We help you with your <br> Problems</h1>
    <p> LET US KNOW ABOUT YOUR ISSUES</p>
  </div>
  <div class="section-box">
    <div class=" box box-1"><a href="https://2kojfjgxx9x.typeform.com/to/ahZfGwRp" target="_blank"><img
          src="images/wifi.png" class="coverimage"></a>
      <div class="imagecover">
        <h3>Wifi</h3>
      </div>
    </div>

    <div class=" box box-2"><a href="https://2kojfjgxx9x.typeform.com/to/ahZfGwRp" target="_blank"><img
          src="images/electrician.png" class="coverimage"></a>
      <div class="imagecover">
        <h3>Electrician</h3>
      </div>
    </div>

    <div class=" box box-3"><a href="https://2kojfjgxx9x.typeform.com/to/ahZfGwRp" target="_blank"><img
          src="images/carpenter.png" class="coverimage"></a>
      <div class="imagecover">
        <h3>Carpenter</h3>
      </div>
    </div>

    <div class=" box box-4"><a href="https://2kojfjgxx9x.typeform.com/to/ahZfGwRp" target="_blank"><img
          src="images/helper.png" class="coverimage"></a>
      <div class="imagecover">
        <h3>Helpers</h3>
      </div>
    </div>

    <div class=" box box-5"><a href="https://2kojfjgxx9x.typeform.com/to/ahZfGwRp" target="_blank"><img
          src="images/plumber.png" class="coverimage"></a>
      <div class="imagecover">
        <h3>Plumber</h3>
      </div>
    </div>
  </div>
  </section>

  <section class="section2">
    <h1>ABOUT SAHAYATA</h1>
    <div class="section2-row row">
      <div class="section2-col col-lg-6 col-sm-12">
        <img src="https://www.thehrteam.com/wp-content/uploads/2019/10/Workplace-Team-Building.jpg" class="upaaye">
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="section2inside">
          <p><span>SAHAYATA</span> as the name suggests is one step solution to all the queries acknowledged by student
            as well the Hostel Staff. In this app hostel caretakers and wardens will come under the same page to check
            upon the respective complaints and a easier way for students to communicate their issues with the hostel
            staff.</p>
        </div>
      </div>
    </div>
  </section>



  <section class="section3">
    <div class="container">
      <div class="section-row row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card" style="width: 18rem;">
            <img src="images/links.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">One Stop Solution</h5>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit soluta esse animi
                explicabo non et fugiat provident! Aliquid ipsam nihil cupiditate.</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card" style="width: 18rem;">
            <img src="images/pdfs.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Easy and Reliable</h5>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit soluta esse animi
                explicabo non et fugiat provident! Aliquid ipsam nihil cupiditate.</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card" style="width: 18rem;">
            <img src="images/links.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hustle Free</h5>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit soluta esse animi
                explicabo non et fugiat provident! Aliquid ipsam nihil cupiditate.</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="about" class="section2">
    <h1>Meet Our Team</h1>
    <div class="profiles">
      <div class="profile">
        <img src="images/img2.jpeg" class="profile-img">

        <h3 class="user-name">Tanya Singh</h3>
        <h5>Full Stack developer</h5>
      </div>
      <div class="profile">
        <img src="images/img1.jpeg" class="profile-img">

        <h3 class="user-name">Chavi abrol</h3>
        <h5>Full Stack developer</h5>
      </div>
      <div class="profile">
        <img src="images/img3.jpg" class="profile-img">

        <h3 class="user-name">Arnav Sharma</h3>
        <h5>Full Stack developer</h5>
      </div>
    </div>
  </section>

  <%- include('partials/footer'); %>